extends includes/base
block globals
    - var body_id= "index"
    - var body_class= "theme-default"
    - var page = "Inicio"
    - var meta_descript = "Portal de Datos Abiertos de AGRO RURAL"

//- block mainmenu
//-     +mainmenu('Inicio','')
    
block content


block append scripts
    script.
      