footer.page-footer
      .container
        .row
          .col.s6.m3
            img(class="materialize-logo" src="dist/images/agro_rural__logo.svg" alt="AGRO RURAL", style="width:130px")
            p Desarrollado por la OA/UTI <br>de AGRO RURAL.
          .col.s6.m3
            h5 Links
            ul
              li
                a(href="#!") Link 1
              li
                a(href="#!") Link 2
              li
                a(href="#!") Link 3
              li
                a(href="#!") Link 4
          .col.s6.m3
            h5 Links 2
            ul
              li
                a(href="#!") Link 1
              li
                a(href="#!") Link 2
              li
                a(href="#!") Link 3
              li
                a(href="#!") Link 4
          .col.s6.m3
            h5 Links
            ul
              li
                a(href="#!") Link 1
              li
                a(href="#!") Link 2
              li
                a(href="#!") Link 3
              li
                a(href="#!") Link 4