footer.page-footer
      .container
        .row
          .col.s6.m3
            a(href="https://www.agrorural.gob.pe")
              img(class="materialize-logo" src="dist/images/agro_rural__logo.svg" alt="AGRO RURAL", style="width:100px")
            p Desarrollado en la UTI
          .col.s6.m3
            h5 Otros recursos
            ul
              li
                a(href="https://www.agrorural.gob.pe") Portal Web
              li
                a(href="http://transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=13860#.WYThktOGPve" target="_blank") Portal de Transparencia
          .col.s6.m3
            h5 Información
            ul
              li
                a(href="https://www.agrorural.gob.pe/gobierno-abierto/acceso-a-la-informacion/") Acceso a la Información Pública
              li
                a(href="https://www.agrorural.gob.pe/gobierno-abierto/sistema-de-control-interno/") Sistema de Control Interno
          .col.s6.m3
            h5 Redes Sociales
            ul(class="fa-ul")
              li
                span(class="fa-li")
                  i(class="fab fa-facebook")  
                a(href="https://www.facebook.com/agroruralPE/", target="_blank") Facebook
              li
                span(class="fa-li")
                  i(class="fab fa-twitter")
                a(href="https://twitter.com/agroruralPE/", target="_blank") Twitter