block globals

doctype html
html(lang="en")
  head
    include _head.pug

  body(id=(body_id || 'default-page'), class=(body_class || 'theme-default'))
    block header
      header(id="mainHeader")
        section(class="branding")
          div(class="branding-wrapper container")
            a(id="minagri" href="https://www.gob.pe/minagri" class="" target="_blank")
              img(class="materialize-logo" src="dist/images/minagri__logo.svg" alt="AGRO RURAL", style="height:55px")
            a(id="agro_rural" href="http://datos.agrorural.gob.pe" class="" target="_blank")
              img(class="materialize-logo" src="dist/images/agro_rural__logo.svg" alt="AGRO RURAL", style="height:65px")
        section(class="masshead")
          div(class="masshead-wrapper container")
            div(class="masshead-content")
              picture
                img(src="dist/images/datos_abiertos__logo.png", alt="", class="responsive-img")
            nav(class="primary")
              a(href="https://www.agrorural.gob.pe") Portal
              a(href="/" class="active") Datos Abiertos
              a(href="https://www.agrorural.gob.pe/gobierno-abierto/") Gobierno Abierto
              a(href="https://www.agrorural.gob.pe/contacto/") Contacto
    block main
      main
        block content
          p Hola mundo

    

    block footer
      include _footer.pug
                            
    block scripts
        script(src='dist/scripts/vendor.js')