@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Ubuntu:400,700|Viga');

html{
  @media only screen and (min-width: 0) {
    font-size: 13px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 13px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 13px;
  }
}

body {
  @include font-family();
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family('ubuntu');
}

.card {
  .card-title {
    @include font-family('Viga');

    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 1rem 0;
    padding: 1rem;
    text-align: center;
  }

  &.card-orange {
    @include card-variant($orange-300);
  }

  &.card-green {
    @include card-variant($green-100);
  }

  &.card-purple {
    @include card-variant($purple-200);
  }
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
