#mainHeader {
  .branding {
    background-color: white;
    padding: 1.5rem 0;
    height: auto;

    .branding-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @media #{$medium-and-up} {
        flex-direction: row;
      }
      
      a {
        line-height: 0;
        padding: 0.75rem 0;
      }
    }
  }

  .masshead {
    @include bg-overlay();

    position: relative;
    background-image: url(../images/masshead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: lightgray;
    min-height: 375px;

    .masshead-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 375px;
      z-index: 1;

      .masshead-content {
        margin-top: 75px;
        text-align: right;
      }
    }
  }
}
